
/* Website Styles */

body{
   
    background-color:#dda15e;
    color:#fdf0d5;
    font-family:Times New Roman,Libertinus Math,Roboto;
    text-align: center;
    margin:10px 40px 30px 50px;
    border: 13px solid burlywood;
    line-height: 1;
    padding: 90px 50 px;
    box-sizing: border-box;

}
}
h1{
    color:#606c38;
    background-color: #540b03;
    font-family:Parisienne,New Roman,Libertinus;
    font-weight:bold;

}

h2{
    color:#606c38;
}

ul{
    color:#540b0e;
}

ol{
    color:#540b03;
}

p{
    color:#003049;
}

footer{
    color:#5e503f;
}

span{
    color:#606c38;
    font-weight:bold;
    font-style:italic;
    font-variant:small-caps;
}

p{
    font-size:20px;
}

li{
    line-height:3;
}

a {
  color: rgba(255, 0, 0, 0.392);
  text-decoration:none;
}
a:hover{
    text-decoration:underline;
}
footer p {
    font-size: 25px;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

ul, ol {
  margin: 15px 0;
}

header {
  border-bottom: 5px dashed brown;
}

.title {
  font-size: 48px;
  text-decoration: underline;
}

#about{
    background-color:#d6ccc2;
    margin:0 400px;
    padding-left: 0px;
}

.my-list{
    list-style-position:inside;
    padding-left:1.5em;         
    line-height:1.5;            
}

.my-list li{
   margin-bottom:0.5em; 
}